@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
li{
  list-style: none;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
nav{
  background: #08956b;
  height: 75px;
}
.title{
  cursor: pointer;
  line-height: 65px;
  letter-spacing: 1px;
  margin-left: 20px;
  font-size: 64px;
  font-weight: 300;
  color: white;
}
.header-ul{
  float: right;
  position: absolute;
  right:0;
  top: 0;
}
.header-li{
  background: #08956b;
  cursor: pointer;
  display: inline;
  font-size: 24px;
  padding: 20px 20px;
  line-height: 75px;
  letter-spacing: -1px;
  color: white;
  transition: .25s all;
}
.header-li:hover{
  border-bottom: 4px solid white;
  background: #209f79;
}
.header-maximize{
  font-size: 32px;
  color: white;
  display: none;
  cursor: pointer;
}
.header-minimize{
  font-size: 32px;
  color: white;
  display: none;
  cursor: pointer;
  background: #08956b;
  cursor: pointer;
  font-size: 24px;
  padding: 20px 20px;
  line-height: 8px;
  text-align: center;
  letter-spacing: -1px;
  color: white;
  transition: .25s all;
}
.header-minimize:hover{
  background: #209f79;
}
.current{
  border-bottom: 4px solid white;
}


main{
  height: calc(100vh - 150px);
}

.main-title{
  font-size: 100px;
  color: black;
  font-weight: 100;
  padding-bottom: 15px;
}

footer{
  background: #209f79;
  height: 75px;
}
footer ul{
  text-align: center;
}
footer ul li{
  display: inline;
  padding-top: 5px;
  line-height: 75px;
}

.sml{
  padding-top: 10px;
  margin: 0 15px;
  font-size: 64px;
  color: white;
}

@media screen and (max-width:1000px) {
  .header-li{
    display: none;
  }
  .header-maximize{
    display: block;
    position: absolute;
    right: 20px;
    top: 10px
  }
  .header-minimize{
    font-size: 32px;
    color: white;
    display: none;
    cursor: pointer;
  }
  .active{
    display: block;
  }
  .maximized{
    display: none;
  }
  .maximized-li{
    display: block;
    height: 20px;
    border-bottom: none;
    line-height: 8px;
  }
  .maximized-li:hover{
    border-bottom: none;
  }
}
